[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/matplotlibcpp"]
	path = ext/matplotlibcpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "ext/opencv"]
	path = ext/opencv
	url = https://github.com/opencv/opencv.git
